/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* /General Section */


header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    /* height: 500px; */
    background-size: cover;
}

nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.float {
    float: left;
    height: 100%;
}

nav .float:first-child,
nav .float:last-child {
    width: 25%;
}

nav .float:nth-child(2) {
    width: 50%;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-right: 1em;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    text-decoration: underline;
}

.nav-menu li:last-child {
    margin-right: 0;
}

a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.btn:hover {
    color: #265ee8;
}

/* jumbo */
.jumbo-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10em 0;
    color: white;
}

.jumbo-title {
    margin-bottom: 1.1em;
}

.jumbo-desc {
    line-height: 1.7em;
    margin: 0 auto 1.1em;
    width: 80%;
}

a.btn.big{
    padding: 7px 23px;
}

a.btn.dark{
    background-color: #23272a;
    color: white;
}


a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}

.first-section {
    width: 100%;
    height: 700px;
}

.first-section .left-column {
    width: 60%;
}

.first-section .right-column {
    width: 40%;
}

.first-section .left-column .img-first-section {
    float: right;
    width: 50%;
    padding: 5em;
}
.first-section .right-column .first-section-title {
    padding: 3.5em 5em 0em 0em;
    width: 60%;
    color: #23272a;
    font-size: 2em;
}

.first-section .right-column .first-section-desc {
    padding: 1em 5em 0em 0em;
    width: 60%;
    color: #23272a;
    font-size: 1.1em;
}

.second-section {
    width: 100%;
    height: 700px;
    background-color: #F6F6F6;
}

.second-section .right-column {
    width: 60%;
}

.second-section .left-column {
    width: 40%;
}

.second-section .right-column .img-second-section {
    float: left;
    width: 50%;
    padding: 5em;
}

.second-section .left-column .second-section-title {
    padding: 3.5em 0em 0em 2.7em;
    float: right;
    width: 60%;
    color: #23272a;
    font-size: 2em;
}

.second-section .left-column .second-section-desc {
    padding: 1em 0em 0em 5em;
    float: right;
    width: 60%;
    color: #23272a;
    font-size: 1.1em;
}

.third-section {
    width: 100%;
    height: 700px;
}

.third-section .left-column {
    width: 60%;
}

.third-section .right-column {
    width: 40%;
}

.third-section .left-column .img-third-section {
    float: right;
    width: 50%;
    padding: 5em;
}
.third-section .right-column .third-section-title {
    padding: 3.5em 5em 0em 0em;
    width: 60%;
    color: #23272a;
    font-size: 2em;
}

.third-section .right-column .third-section-desc {
    padding: 1em 5em 0em 0em;
    width: 60%;
    color: #23272a;
    font-size: 1.1em;
}

.fourth-section {
    width: 100%;
    height: 700px;
    background-color: #F6F6F6;
    padding: 3em 0;
}

.fourth-section .first-row {
    width: 100%;
    height: 150px;
    padding: 0 10%;
}
.fourth-section .first-row .fourth-section-title {
    text-align: center;
    font-size: 2em;
    color: #23272a;
}

.fourth-section .first-row .fourth-section-desc {
    font-size: 1.1em;
    text-align: center;
    color: #23272a;
    width: 30%;
    margin: 0 auto;
    padding-top: 1em;
}
.fourth-section .second-row {
    width: 100%;
    height: 200px;
    padding: 0 10%;
    text-align: center;
}

.fourth-section .second-row .img-fourth-section {
    width: 40%;
    text-align: center;
}
.fourth-section .third-row {
    width: 100%;
    height: 150px;
    padding: 10% 10%;
}
.btn-big {
    margin: 0 auto;
    width: 200px;
}
#btn-big {
    background-color: #8EA1E1;
}

.stars {
    background-image: url('../img/stars.svg');
    width: 60%;
    margin: 0 auto;
}
.ready {
    text-align: center;
}
